# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos de banco de dados locais
*.db

# Logs
*.log

# Configurações temporárias do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
